<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8 Ball</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./js/index.js"></script>
</head>
<body>
    <h1>Magic 8 Ball</h1>
    <div class="container">
        <input type="text" id="question" placeholder="Ask your question">
        <button id="askButton">Ask 8 Ball</button>
        <p id="answer">Answer</p>
    </div>
</body>
</html>